
body {
    background: url("/data/back.png");
}

.row {
    margin: 0 !important;
    margin-top: 2px !important;
}

.text-center {
    text-align: center;
}

.more-weight {
    padding-bottom: 5px;
}